body {
    margin:0;
    font-family: 'Poppins', sans-serif;
}

nav {
    background-color: #DBEBF4;
    position: sticky;
    z-index:1;
    width: 100%;
    /* letter-spacing: 1px; */
}

ul {
    margin: 0;
    padding: 0; 
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    padding: 0;
}

nav ul {
    margin: auto;
    text-align: center;
    padding: 30px;
}

nav li a {
    text-decoration: none;
    color: black;
    font-size: 1.1rem;
    margin: 0 1rem;
}

h1 {
    text-align: center;
    font-size: 25px;
}

p {
    margin-top: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    /* margin-left: auto;
    margin-right: auto; */

}

table, th, td {
    border: 1px solid;
    /* margin-top: 15px;
    margin-bottom: 10px; */
}

table, th {
    background-color: #021b2a;
    color:#FFFFFF;
    text-transform: uppercase; 
}

table, td {
    background-color: #FFFFFF;
    color:black;
    text-transform:none;
}

th, td {
    padding: 1% 2%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    text-align: center;
}

.center-action{
    width: 15%;
    margin: auto;
}

.center-align {
    text-align: center;
}


.edit-button {
    background-color: #1c591e;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 8px 12px;
    color:#FFFFFF;
    display: inline-block;
    border-radius: 5px;
    font-size: 1.1rem;
}

.del-button {
    background-color: #a21c15;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 8px 12px;
    color:#FFFFFF;
    display: inline-block;
    border-radius: 5px;
    font-size: 1.1rem;
}

.add-button {
    background-color: #150d8f;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 8px 12px;
    color:#FFFFFF;
    display: inline-block;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.submit-button {
    background-color: #150d8f;
    border: none;
    text-align: center;
    text-decoration: none;
    padding: 10px 15px;
    color:#FFFFFF;
    display: inline-block;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    text-transform: uppercase;
}

section{
    text-align: left;
    width: 30%;
    margin: 3% auto;
    border-radius: 5%;
    padding: 3% 0;
    box-sizing: border-box;
    background-color: rgba(219, 235, 244, .5);
}

form {
   margin-top: 10%;
}

input, select {
    padding: 12px 20px;
    margin: 8px auto;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    
}

label{
    margin: 2% 14%;
}

#gambar{
    border: none;
    margin: 8px auto;
    padding: 0;
}

button{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #150d8f;
    color: white;
}

option {
    color: #545454;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.container-login {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.aksi {
    width: 120px;
    
}

.aksi2{
    width: 250px;
}

.aksi3{
    width: 270px;
}